<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title,  class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body,  class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :category_id, style: "display: block" %>
    <%= form.select :category_id, categories.collect { |c| [c.title, c.id]}.to_h %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :poster, style: "display: block", class: "input-group-text" %>
    <%= form.file_field :poster, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit 'Save',  class: "btn btn-primary" %>
  </div>
<% end %>
